{% extends 'templates/base.html' %}
{% load static %}
{% block content %}
<html>
        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Programs Page</h1><br>
                  <p class="lead">"Motivation is what gets you started... Habit is what keeps you going." </p>
                </div>
              </div>
    <!-- <h1>Programs page</h1> -->

    <br>
    <p>Building massOpens in a new Window. may not always be easy, but it’s pretty simple: Lift hard (and with high volumeOpens in a new Window.) and eat a lotOpens in a new Window.. On the training side, we offer the following month-long program. These four weeks of mass-gaining are full of straightforward exercises done predominantly in straight set fashion, with minor influences of intensity techniques (drop setsOpens in a new Window.). These workouts will typically involve lots of rest and heavy to moderate weight. The key to this program is that you’ll only be training each body part one day per week during the four weeks, so you’ll need to get after it like gangbusters each time out. You should anticipate a few days of soreness following each workout, due to the high volume (total number of sets) involved—this is why we designed the split with three full rest days, as follows:</p>
    <br><br>
    <img class="card-img-top" src="{% static 'images/1.jpg' %}" alt="Card image cap"><br><br><br>
    <h3>DAY 1: ABS AND LEGS</h3><br>
    <p>Leg day is heavy in the squat category to hit the entire leg musculature sufficiently (quads, hamstrings, glutes). You’ll start off with front squats and leg extensions, blasting the front quads. Then, you’ll move to standard squats, followed by leg curls. And though you’ll already feel thrashed from two other squat moves, you’ll then go to the Smith machine squat, (where you don’t have to worry so much about balance), placing your feet slightly out in front of you, and you’ll finish off with lunges.</p>
    <p>The amount of weight on each squat set will naturally decrease; in other words, you’ll be strongest on your first exercise (front squats), but will likely have to go lighter on regular squats than you normally do (assuming you typically do squats first in your leg workout), as it will be your third exercise. That said, we suggest you switch the order of squats each week—in week 2, for example, do regular squats first, and in week 3, start off with Smith machine squats. This will ensure a well-balanced leg protocol through the course of four weeks.</p>
    <br>
    <h3>DAY 2: CHEST AND TRICEPS</h3><br>
    <p>You’ll train chest and triceps the day after legs. After hitting the meat of the chest with flat-bench barbell presses, you’ll immediately attack the pecs from the same angle with dumbbells. And similar to how you alternated between squat variations for legs, each time you train chest, perform a different angle (flat-bench in week 1, incline in week 2, decline in week 3 and flat-bench again in week 4) first in the rotation, starting with the barbell version, then following that up with dumbbells. You’ll end chest day with an isolation move (cable flye) to finish things off with an incredible pump before moving on to triceps. Your triceps training will involve bread-and-butter exercises performed in the traditional hypertrophy rep range (8-12) to pack maximum mass onto the upper arms.</p>
    <br>
    <h3>DAY 3: SHOULDERS, TRAPS AND ABS</h3><br>
    <p>Day 4 has you hitting shoulders and traps, beginning with a compound exercise, the behind-the-neck overhead press. If you have pre-existing shoulders issues, by all means do the standard version (in front of the head). But if you’re able to do this move, it’s great for adding size to the delts. After three other compound moves (dumbbell presses and Smith machine and dumbbell upright rows), you’ll finish with the leaning lateral raise, which allows for more emphasis to be placed on the delts as opposed to the supraspinatus muscles, and the reverse pec deck, which targets the rear delts.</p>
    <p>You’ll train your traps with two versions (barbell and dumbbell) of good ole fashioned shrugs, six sets total using relatively heavy weight. Then, you’ll finish with abs—double crunches, which hit both the upper and lower abs. </p>
    <br>
    <h3>DAY 5: BACK AND BICEPS</h3><br>
    <p>You’ll begin back day with the deadlift, which is as much a leg exercise as it is a back exercise; that said, for back and overall body mass, the deadlift is tough to beat. You’ll follow that with the dumbbell version before moving to bent-over and dumbbell rows, targeting the upper and lower lats, respectively. T-bar rows and lat pulldowns will finish off the volumous 20-set back workout. For biceps, nothing fancy—traditional barbell curls, preachers and hammer curls will hit both biceps heads with heavy weight to promote size.</p>
    <br><br>
    <img class="card-img-top" src="{% static 'images/new.jpg' %}" alt="Card image cap"><br><br>
    <!-- <h3>DAY 6: SHOULDERS, TRAPS AND ABS</h3><br>
    <p></p> -->


    </html>
{% endblock %}