{% extends 'templates/base.html' %}
{% load static %}
{% block content %}
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" rel="stylesheet">  -->
<!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"> -->
<html>

<body>
        
        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Workout Page</h1><br>
                  <p class="lead">"Don’t limit your challenges, challenge your limits. "</p>
                </div>
              </div>
    <!-- <h1>Workout page</h1> -->
    <br>
    
    <img class="card-img-top" src="{% static 'images/workout.jpg' %}" alt="Card image cap"><br><br><br>
    <br><h3>ARMS Training</h3><br>
    <div class="col s12 m4 l4">
        <div class="row">
            <div class="col s4" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/bcurl.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bicep Curl</h5>
                    <p class="card-text">Quick sample text to create the card title and make up the body of the card's
                        content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Barbell Curl</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>

            <div class="col s4" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/bcurl.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Tricep pushdown</h5>
                    <p class="card-text">Quick sample text to create the card title and make up the body of the card's
                        content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>


            <div class="col s4" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/bcurl.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Quick sample text to create the card title and make up the body of the card's
                        content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            <div class="col s4" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/bcurl.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Quick sample text to create the card title and make up the body of the card's
                        content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m4 l4">
            <div class="row">
                <div class="col s4" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'images/uni.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Quick sample text to create the card title and make up the body of the card's
                            content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
    
                <div class="col s4" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'images/uni.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Quick sample text to create the card title and make up the body of the card's
                            content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
    
    
                <div class="col s4" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'images/uni.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Quick sample text to create the card title and make up the body of the card's
                            content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
                <div class="col s4" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'images/uni.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Quick sample text to create the card title and make up the body of the card's
                            content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>





    <div class="sbuttons">

        <a href="#" target="_blank" class="sbutton whatsapp" tooltip="WhatsApp"><i class="fab fa-whatsapp"></i></a>

        <a href="#" target="_blank" class="sbutton fb" tooltip="Facebook"><i class="fab fa-facebook-f"></i></a>

        <a href="#" target="_blank" class="sbutton gplus" tooltip="Google Plus"><i class="fab fa-google-plus-g"></i></a>

        <a href="#" target="_blank" class="sbutton twitt" tooltip="Twitter"><i class="fab fa-twitter"></i></a>

        <a href="#" target="_blank" class="sbutton pinteres" tooltip="Pinterest"><i class="fab fa-pinterest-p"></i></a>

        <a target="_blank" class="sbutton mainsbutton" tooltip="Share"><i class="fas fa-share-alt"></i></a>

    </div>
</body><br><br>

</html>
{% endblock %}